---
import { contact } from '../../data/contact.json';

const { notes } = Astro.props;

const dateOptions: object = {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
};

const formatDateTime = (date: string): string => {
  const d = new Date(date);
  const year = d.getFullYear();
  const month = String(d.getMonth() + 1).padStart(2, '0');
  const day = String(d.getDate()).padStart(2, '0');
  const hours = String(d.getHours()).padStart(2, '0');
  const minutes = String(d.getMinutes()).padStart(2, '0');
  const seconds = String(d.getSeconds()).padStart(2, '0');

  return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
};

---

<section>
  <div class="mx-auto max-w-7xl px-8 py-12">
    <div class="mx-auto max-w-xl">
      <div class="grid gap-12 md:gap-24">

        <div class="text-sm font-light">
          <p class="text-black dark:text-white">Building</p>
          <div class="grid gap-6 mt-3">
            <div
              class="text-neutral-500 items-start grid grid-cols-1 md:grid-cols-3"
            >
              <div>
                <p class="text-neutral-500 dark:text-neutral-400">Ongoing</p>
              </div>
              <div class="md:col-span-2 w-full">
                <p class="text-black dark:text-white">
                  <a
                    href="https://strife.app"
                    class="underline hover:no-underline duration-200 after:content-['_↗']"
                  >
                    Strife
                  </a>
                </p>
                <p class="">Headless CMS without compromise</p>
              </div>
            </div>
          </div>
        </div>


        <div class="text-sm font-light">
          <p class="text-black dark:text-white">Writing</p>
          <div class="grid gap-6 mt-3">
            {
              notes?.map((note) => (
                <>
                  <div class="text-neutral-500 items-start grid grid-cols-1 md:grid-cols-3 h-entry">
                    <div>
                      <span class="hidden p-author">Marcus</span>
                      <time
                        datetime={formatDateTime(note.publishedDate)}
                        class="text-neutral-500 dark:text-neutral-400 dt-published"
                      >
                        {new Date(note.publishedDate).toLocaleDateString(
                          'en-US',
                          dateOptions
                        )}
                      </time>
                    </div>
                    <div class="md:col-span-2 w-full">
                      <p class="text-black dark:text-white">
                        <a
                          href={note.url}
                          class="underline hover:no-underline duration-200 u-url p-name"
                        >
                          {note.heading}
                        </a>
                      </p>
                      <div class="e-content" set:html={note.summary} />
                    </div>
                  </div>
                </>
              ))
            }
          </div>
        </div>

        <div class="text-sm font-light">
          <p class="text-black dark:text-white">Projects</p>
          <div class="grid gap-6 mt-3">
            <div
              class="text-neutral-500 items-start grid grid-cols-1 md:grid-cols-3"
            >
              <div>
                <p class="text-neutral-500 dark:text-neutral-400">2020</p>
              </div>
              <div class="md:col-span-2 w-full">
                <p class="text-black dark:text-white">
                  <a
                    href="https://github.com/marcuslindblom/w3cvalidator"
                    class="underline hover:no-underline duration-200 after:content-['_↗']"
                  >
                    w3cvalidator
                  </a>
                </p>
                <p class="">
                  Quickly and easily check document-conformance to catch
                  unintended mistakes
                </p>
              </div>
            </div>
            <div
              class="text-neutral-500 items-start grid grid-cols-1 md:grid-cols-3"
            >
              <div>
                <p class="text-neutral-500 dark:text-neutral-400">2020</p>
              </div>
              <div class="md:col-span-2 w-full">
                <p class="text-black dark:text-white">
                  <a
                    href="https://github.com/marcuslindblom/yellow-lab-tools"
                    class="underline hover:no-underline duration-200 after:content-['_↗']"
                  >
                    Yellow lab tools
                  </a>
                </p>
                <p class="">
                  Analyzes a webpage and detects performance or front-end code
                  quality issues
                </p>
              </div>
            </div>
            <div
              class="text-neutral-500 items-start grid grid-cols-1 md:grid-cols-3"
            >
              <div>
                <p class="text-neutral-500 dark:text-neutral-400">2020</p>
              </div>
              <div class="md:col-span-2 w-full">
                <p class="text-black dark:text-white">
                  <a
                    href="https://github.com/marcuslindblom/security-headers"
                    class="underline hover:no-underline duration-200 after:content-['_↗']"
                  >
                    Security headers
                  </a>
                </p>
                <p class="">Analyse your HTTP response headers</p>
              </div>
            </div>
          </div>
        </div>

        <div class="text-sm font-light">
          <p class="text-black dark:text-white">Contact</p>

          <div class="grid gap-6 mt-3">
            {
              contact.map((template) => (
                <>
                  <div class="text-neutral-500  items-start grid grid-cols-1 md:grid-cols-3">
                    <div>
                      <p class="text-neutral-500 dark:text-neutral-400">
                        {template.type}
                      </p>
                    </div>
                    <div class="md:col-span-2 w-full">
                      <p class="text-black dark:text-white">
                        <a
                          href={template.link}
                          title={template.type}
                          class="underline hover:no-underline duration-200 after:content-['_↗']"
                        >
                          {template.title}
                        </a>
                      </p>
                    </div>
                  </div>
                </>
              ))
            }
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
