---
import BaseLayout from '../../layouts/BaseLayout.astro';
import store from '../../store';

const session = store.openSession();

const results = await session.advanced
  .rawQuery(
    `from index 'Content/ByUrl' as post where post.origin == '6bd777f8-9aef-4480-a2ac-0780a4c26b8c' load post.labels as labels[] select {
          name: post.displayName,
          publishedDate: post.publishedDate,
          labels: labels,
          url: post.url
        }`
  )
  .all();

  const labels = await session.query({ indexName: 'Labels/ByCount' }).all();

  const posts = await session.query({ indexName: 'Posts/ByLabel' }).whereIn('labels', ['Performance']).all();

console.log(posts.length);

const dateOptions: object = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};
---

<BaseLayout>
  <section>
    <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
      <div class="mx-auto max-w-xl">
        <div>
          <div class="md:flex md:items-center md:justify-between md:space-x-5">
            <div class="text-sm font-light">
              <p class="text-black dark:text-white">Writing</p>
              {
                labels.filter(x => x.name).map((label) => (
                  <a href={`/journal?label=${label.name}`} class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-600 dark:hover:text-neutral-300 text-xs duration-200 ring-1 ring-neutral-500 rounded-full me-2 px-3 py-1">
                    {label.name} ({label.count})
                  </a>
                ))
              }
              <div
                class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3"
              >
                {
                  results.map((post) => (
                    <>
                      <div class="text-neutral-500  items-start grid grid-cols-1 md:grid-cols-3">
                        <div>
                          <time class="text-neutral-400 dark:text-neutral-400">
                            {new Date(post.publishedDate).toLocaleDateString(
                              'en-US',
                              dateOptions
                            )}
                          </time>
                        </div>
                        <div class="md:col-span-2 w-full">
                          <p class="text-black dark:text-white">
                            <a
                              href={post.url}
                              class="underline hover:no-underline duration-200 after:content-['_↗']"
                            >
                              {post.name}
                            </a>
                          </p>
                          <p class="">
                            {Object.values(post.labels).map(function(label){return label.name}).join(", ")}
                          </p>
                        </div>
                      </div>
                    </>
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
