@model HomeViewModel

<h1 is="str-h1-cpnt" data-property-name="heading">@Model.Heading</h1>
<p><em>Crafting interfaces</em>. Building polished software and web experiences. Experimenting with magical details in user interfaces. Webarchitect at undefined.</p>
<p>In the past I’ve developed - stuff</p>

 <div class="features">
  @foreach(var post in Model?.Posts) {
   <div class="feature">
     <a href="@post.Slug" class="feature-content">
       <strong>@post.Title</strong>
       <span>@post.Text</span>
       @if(post.Mentions is not null) {
        <ul style="margin:0;list-style:none;padding:0;display:flex;">
          @foreach(var mention in post.Mentions) {
          <li class="avatar">
            <img src="@mention.Author.Photo" alt="" style="width:25px;height:25px; border-radius: 50%;" />
          </li>
          }
        </ul>
       }
     </a>
   </div>
   }
 </div>