---
import BaseLayout from '../layouts/BaseLayout.astro';
import { HeroCard } from '../components/landing/HeroCard';
import Navigation from '../components/global/Navigation.astro';
import Content from '../components/landing/Content.astro';
import store from '../store';
import '../array-polyfills';

const session = store.openSession();

const homeLazy = session
  .query({ indexName: 'Content/ByUrl' })
  .whereEquals('url', '/')
  .lazily();

const notesLazy = session
  .query({ indexName: 'Content/ByUrl' })
  .whereEquals('collection', 'posts')
  .whereEquals('published', true)
  .orderByDescending('publishedDate')
  .selectFields(['heading', 'summary', 'publishedDate', 'url'])
  .take(3)
  .lazily();

const results = await Promise.allSettled([
  homeLazy.getValue(),
  notesLazy.getValue(),
]);

const handleRejection = (reason) => {
  // Handle the error gracefully
  console.error('Error fetching values:', reason);
  // You might want to throw the error again if you need it to propagate further
  throw reason;
};

const [homeResult, notesResult] = results;

const home = homeResult.status === 'fulfilled' ? homeResult.value.firstOrDefault() : null;
const notes = notesResult.status === 'fulfilled' ? notesResult.value : null;

if (homeResult.status === 'rejected') {
  handleRejection(homeResult.reason);
}

if (notesResult.status === 'rejected') {
  handleRejection(notesResult.reason);
}

---

<BaseLayout
  title={home.page_settings?.title}
  description={home.page_settings?.description}
  card={home.page_images?.og_image.source.url}
>
<section>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
            <HeroCard heading={home.heading} avatar={home.avatar}  client:load />
        </div>
        <Navigation />
        <div class="mt-12 text-sm font-light">
          <p class="text-black dark:text-white">About</p>
          <div
            class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3"
            set:html={home.introduction}
            is="str-div"
            data-field="introduction"
          />
        </div>
      </div>
    </div>
  </div>
</section>

  <Content featured={home.featured} notes={notes} />
</BaseLayout>
