---
const { heading, text, publishedDate } = Astro.props;

const currentPath = Astro.url.pathname;

const dateOptions: object = {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};

const formatDate = (date: string): string => {
  const d = new Date(date);
  return d.toLocaleDateString('en-US', dateOptions);
};

const formatDateTime = (date: string): string => {
  const d = new Date(date);
  const year = d.getFullYear();
  const month = String(d.getMonth() + 1).padStart(2, '0');
  const day = String(d.getDate()).padStart(2, '0');
  const hours = String(d.getHours()).padStart(2, '0');
  const minutes = String(d.getMinutes()).padStart(2, '0');
  const seconds = String(d.getSeconds()).padStart(2, '0');

  return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
};
---

<main>
  <div class="mx-auto max-w-7xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
          <article class="text-sm font-light h-entry flex">
            <div class="flex-auto w-12">
              <img
                class="h-8 w-8 rounded-full border border-white/10 u-photo"
                src="/images/avatar.jpg"
                alt="image"
              />
            </div>

            <div class="flex-auto">
              <a
                rel="author"
                class="text-black dark:text-white h-card p-author"
                href="https://marcuslindblom.com/">Marcus Lindblom</a
              >
              <span class="text-neutral-500 dark:text-neutral-400"> · </span>

              <time
                class="text-neutral-500 dark:text-neutral-400 dt-published"
                datetime={formatDateTime(publishedDate)}
                >{formatDate(publishedDate)}</time
              >

              <h1 class="text-black dark:text-white p-name">
                <a href={currentPath} class="u-url">
                  {heading}
                </a>
              </h1>

              <div
                class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3 prose prose-sm e-content"
                set:html={text}
              />

            </div>
            <a rel="syndication noreferrer" class="u-syndication" href="https://brid.gy/publish/mastodon"></a>
            <a rel="syndication noreferrer" class="u-syndication" href="https://brid.gy/publish/bluesky"></a>
          </article>
        </div>
      </div>
    </div>
  </div>
</main>
